html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
    line-height: 1.2;
}
h3 {
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/*CABEZERA*/
.cabezera{
    background-image: url(../img/plantas1.jpg);
    background-size: cover;
    height: 20rem;
    margin-top: 0%;
    margin-bottom: 2rem;
}
.contenedor h1{
    margin-top: 0rem;
    padding-top: 5rem;
    text-align: center;
    color: white;
    font-weight: 700;
}
/*texto*/
.texto{
    width: 50%;
    text-align: center;
    
}
.titulornn h2{
    margin: 2rem;
    font-weight: 700;
}
/*RECONOCIMIENTO*/
.reconocimiento{
    border: 0 auto;
    max-width: 50rem;
    width: 50%;
    align-content: center;
}
.datosrnn {
    display: grid;
    grid-template-columns: 100%;
    height: 60rem;
}
.datosrnn img{
    margin-left: 10rem;
    border-radius: 2rem;
}
/*CARRUSEL*/
.carrusel{
    height: 60rem;
    margin-bottom: 2rem;
}
.carrusel img{
    size: cover;
    background-position: center;
}
.carrusel h5 p{
    padding-bottom: 5rem;
    text-align: center;
    margin-top: 3rem;
}
/*FOOTER*/
.site-footer{
    background-color: black;
    padding: 3rem;
    margin-top: 4rem;
}
.site-footer p{
    color: white;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
.navegacion a{
    color: white;
    text-decoration: none;
}
/*botones*/
.botones{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 5rem;
    width: 50%;
    padding-left: 2rem;
}
.boton {
    color: white;
    font-weight: 700;
    padding: 1rem 3rem;
    
    display: inline-block;
    text-align: center;
    border-radius: 1.5rem;
}
.boton a{
    text-decoration: none;
    color: black;
}

.boton:hover {
    cursor: pointer;
}
.botonAmarillo {
    background-color: orange;
}

.division{
    margin-top: 15rem;
    background-color: black;
    text-align: center;
    height: 10rem;
    margin-bottom: 12rem;
    padding-top: 2rem;
}
.division h1{
    color: white;
}
.archivos{
    width: 60%;
    align-self: center;
    size: 4rem;
}
.contenedor video{
    border-radius: 2rem;
}
.textosC h5 p{
    color: white;
    font-weight: 700;
}